@import url(//js.arcgis.com/3.14/esri/css/esri.css);
@import url(../widgets/ucHome/css/UCHome.css);
@import url(../../css/common.css);

.map {
  height: 100%;
}

.uc-home {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 100;
}
