.demo-banner {
  font-size: 4em;
  text-align: center;
  position: absolute;
  height: 0;
  background-color: transparent;
  color: transparent;
  padding: 10px;

  -webkit-transition: background-color 0.3s, height 0.3s, color 0.3s 0.3s;
  -moz-transition: background-color 0.3s, height 0.3s, color 0.3s 0.3s;
  -ms-transition: background-color 0.3s, height 0.3s, color 0.3s 0.3s;
  -o-transition: background-color 0.3s, height 0.3s, color 0.3s 0.3s;
  transition: background-color 0.3s, height 0.3s, color 0.3s 0.3s;
}

.demo-banner.is-ready {
  height: 60px;
  background-color: #fff;
  color: #888;
}
